@import './footer-utils/_mixins';
.footer {
  @include fonts(16px, bold, 'sans-serifs');
  background-color: #414141;
  width: 100%;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
  display: flex;
   flex-wrap: wrap;
  .footer-left .footer-center .footer-right {
    width: 100%;
  }
  .about {
    line-height: 20px;
    color: #ffffff;
    @include fonts(13px, normal);
    margin: 0;
    span {
      display: block;
      color: #ffffff;
      @include fonts(14px, bold);
      margin-bottom: 20px;
    }
  }
  .icons {
    margin-top: 25px;
    a {
      display: inline-block;
      @include heightWidth(35px, 35px);
      cursor: pointer;
      background-color: #33383b;
      border-radius: 2px;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
      margin-right: 3px;
      margin-bottom: 5px;
    }
  }
  /* footer center*/

  .footer-center {
    i {
      background-color: #33383b;
      color: #ffffff;
      font-size: 25px;
      @include heightWidth(38px, 38px);
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
      .fa-envelope {
        font-size: 17px;
        line-height: 38px;
      }
    }
  }

  p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    span {
      display: block;
      font-weight: normal;
      font-size: 14px;
      line-height: 2;
    }
    a {
      color: #0099ff;
      text-decoration: none;
    }
  }

  h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    span {
      color: #0099ff;
    }
  }

  .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
    a {
      display: inline-block;
      line-height: 1.8;
      text-decoration: none;
      color: inherit;
      &:hover {
        color: #0099ff;
      }
    }
  }

  .name {
    color: #0099ff;
    @include fonts(14px, normal);
    margin: 0;
  }
}

@media (min-width: 320px) {
  .footer *{
    width: 100%;
  }
  // .footer {
  //   font-size: 14px;
  // }
  // .footer .footer-left,
  // .footer .footer-center,
  // .footer .footer-right {
  //   display: block;
  //   width: 100%;
  //   margin-bottom: 40px;
  //   text-align: center;
  // }
  // .footer .footer-center i {
  //   margin-left: 0;
  // }
}
